body {
    background-color: #ccc;
    font-family: 'Helvetica Neue', HelveticaNeue, sans-serif;
    text-shadow: white 0px 1px 1px;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    background-color: #ddd;
    border-radius: 0.6em;
}

h2 {
    font-size: 1em;
    text-align: left;
}
p, li {
    font-size: 1em;
    line-height: 1.2em;
}
.footer {
    text-align: center;
    font-size: 0.8em;
    background-color: #dbdbdb;
    border-radius: 0.6em;
}
